Source: libcariad-font-whiterabbit
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-font-whiterabbit
Replaces: libdisplaycore-font-whiterabbit
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Fonts
Depends: libcariad-core
Provides: WhiteRabbit.h
Description: WhiteRabbit
